<%- include("partials/header.ejs") %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<% if(allPosts.length > 0){ %>
    <ul>
        <% allPosts.forEach(function (post,index){ %>
            <li>
                <p><%= post.t %></p>
                <p><%= post.c %></p>
                <% if (post.f ==! 'No file ploaded') { %>
                    <p>No image uploaded</p>         
                <% } else {  %>
                    <img src="<%= post.f %>" alt="Uploaded Image">
                <% } %>   
                <form action="/viewPost/<%= index %>">
                    <input type="submit" value="View Post">
                </form>     
            </li>
        <% }); %>
    </ul>
    <% } else { %>
    <h2>Welcome to my Blog application!</h2>
    <% } %>


<script src="/js/bootstrap.bundle.min.js"></script>

